<footer if="footer">
    <div>
        <nav id="footerNav">
            <ul class="footer-left">
                <li><a href="#">©FunABounds</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="social-links">
                <ul class="social-links">
                    <li><a href="#" title="Twitter"><img src="Assets/Images/fb-footer.png" alt="fb"></a></li>
                    <li><a href="#" title="Facebook"><img src="Assets/Images/twiteer-icon.png" alt="twitter"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>